.o-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.o-h1 h1{
    color: #009688;
}

html{
    scroll-behavior: smooth;
  }

.wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
    color: #fff;
  }
  .wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 2px;
    background: #c5c5c5;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .wrapper .row{
    display: flex;
  }
  .wrapper .row-1{
    justify-content: flex-end;
  }
  .wrapper .row-2{
    justify-content: flex-start;
  }
  .wrapper .row section{
    background: green;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
  }
  .wrapper .row .c-1{
      background: #EA0E68;
  }
  .wrapper .row .c-2{
      background: #0f0101;
  }
  .wrapper .row .c-3{
      background: #E16541;
  }
  .wrapper .row .c-4{
      background: #A64A4A;
  }
  .wrapper .row .c-5{
      background: #8B9862;
  }
  .wrapper .row .c-6{
      background: #f6a8d8;
  }
  .wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #000;
    top: 80px;
    z-index: -1;
    transform: rotate(45deg);
  }
  .wrapper .row .c-1::before{
      background: #EA0E68 ;
  }
  .wrapper .row .c-2::before{
      background: #0f0101;
  }
  .wrapper .row .c-3::before{
      background: #E16541;
  }
  .wrapper .row .c-4::before{
      background: #A64A4A;
  }
  .wrapper .row .c-5::before{
      background: #8B9862;
  }
  .wrapper .row .c-6::before{
      background: #f6a8d8;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-2 section::before{
    right: -7px;
  }
  .row section .icon,
  .center-line .scroll-icon{
    position: absolute;
    background: #0f0101;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff; 
    font-size: 17px;
   
  }
  .center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  .row-1 section .icon{
    top: 68px;
    left: -60px;
  }
  .row-2 section .icon{
    top: 68px;
    right: -60px;
  }
  .row section .details{
      display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .row section .bottom{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .row section .details .title{
    font-size: 30px;
    font-weight: 400;
  }
  .row section p{
    margin: 30px 0 17px 0;
  }
  
  .row section .bottom a{
    text-decoration: none;
    background: #ef5350; 
    color: #fff;
    right: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 17px;
  }
  
  .row section .bottom a:hover{
    transform: scale(0.97);
  }
  
  @media(max-width: 790px){
    .wrapper .center-line{
      left: 40px;
    }
    .wrapper .row{
      margin: 30px 0 3px 60px;
    }
    .wrapper .row section{
      width: 100%;
    }
    .row-1 section::before{
      right: -7px;
    }
    .row-1 section .icon{
      right: -60px;
    }
    .row-2 section::before{
      left: -7px;
    }
    .row-2 section .icon{
      left: -60px;
    }
    
  }
  @media(max-width: 440px){
    .wrapper .center-line,
    .row section::before,
    .row section .icon{
      display: none;
    }
    .wrapper .row{
      margin: 10px 0;
    }
  }