.createprofile{
    color: blue;
    width: 100%;
}
.createprofilewrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}
.createprofiletitle{
    font-size: 40px;
    text-align: center;
}
.createpformwrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.createprofileform{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction:column;
    /* border: 1px solid green; */
}
.inputbox{
    border: 1px solid red;
    display: flex;
    flex-direction: column;  
    width: 50%;
    padding: 10px;
}
