.about{
    height: 100vh;
    background-color: #0f0101;
    background-size: cover;
    position: relative;
}
.about svg{
    position: absolute;
    bottom: 0;
}
h1{
    position: relative;
    text-align: center;
    color: #fff;
    top: 90px;
    font-size: 80px;
    background: conic-gradient(
        #EA0E68 16.666%, 
        #E16541 16.666%, 
        #EA0E68 33.333%, 
        #0f0101 33.333%, 
        #0f0101 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #f6a8d8 66.666%, 
        #f6a8d8 83.333%, 
        #A64A4A 83.333%
    );
    background-size: 57%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 0vw #0f0101;
}