.footer-top{
    background-color: #0f0101;

}
.fcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
    color: #fff;
    /* border: 1px solid white; */
}
.col{
    padding: 1rem;
    /* border: 1px solid white; */
}
.tel,.mail{
    color: #fff;
    padding: 20px 0;
}
.mail{
    padding: 0 20px;
}
.col li{
   list-style-type: none;
   padding: 10px 0;
}
.links{
    color: #fff;
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
    color: #f6a8d8;
}
.col form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.col form input{
    margin: 15px 0;
    padding: 15px;
    outline: none;
    background: transparent;
    border: 1px solid white;
}
.col textarea{
    height: 200px;
    padding: 15px;
    outline: none;
    background: transparent;
    border: 1px solid white;
}
.col .submit{
    background: #E87DA4;
    outline: none;
    border: none;
    border-radius: 15px;
    
}
.col .submit:hover{
    cursor: pointer;
}
.footer-copy-right{
    display: flex;
    justify-content: center;
}