.footer-top{
    background-color: #0f0101;

}
.fcontainer{
    display: grid;
    /* justify-content: center; */
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
    color: #fff;
    /* border: 1px solid white; */
}
svg{
    display: block;
}
.col{
    padding: 1rem;
    /* border: 1px solid white; */
}
.tel,.mail{
    color: #fff;
    padding: 20px 0;
}
.mail{
    padding: 0 20px;
}
.socials{
    margin: 20px 0;
    display: flex;
}
.bicon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: inset -.5vh -.5vh 0.7vh #090606, inset .5vh .5vh 0.7vh #231919 ;
    border-radius: 1;
    transition:transform .5s;
}
.bicon i{
    font-size: 25px;
    /* text-align: center; */
    margin: 0 auto;
    color: #777;
    transition:transform .5s;
}
.bicon:hover{
    transform: translateY(2px);
}
.bicon i:hover{
    transform: scale(0.90);
}
.bicon .fa-telegram:hover{
    color: #0088cc;
}
.bicon .fa-whatsapp:hover{
    color: #25D366;
}
.bicon .fa-envelope:hover{
    color: #b23121;
}
.col li{
   list-style-type: none;
   padding: 10px 0;
}
.links{
    color: #fff;
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
    color: #f6a8d8;
}
.col form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.col form input{
    margin: 15px 0;
    padding: 15px;
    outline: none;
    background: transparent;
    border: none;
    color: #fff;
    box-shadow: inset -.5vh -.5vh .7vh #231919,inset .5vh .5vh .7vh #231919;
    /* border: 1px solid white; */
}
.col textarea{
    height: 200px;
    padding: 15px;
    outline: none;
    background: transparent;
    border: none;
    /* border: 1px solid white; */
    box-shadow: inset -.5vh -.5vh .7vh #231919,inset .5vh .5vh .7vh #231919;
}
.col .submit{
    background: #E87DA4;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: none;
    transition: transform .5s;
    
}
.col .submit:hover{
    cursor: pointer;
    transform: translateY(2px);
}
.footer-copy-right{
    background-color: #0f0101;
    color: #fff;
    display: flex;
    justify-content: center;
}